body{
  background-color:#FFECEF;
  font-family: 'Kalam', cursive;
  text-align:center;
}
.upper-star{
  position: absolute;
  top:7.5rem;
  right:27.875rem;
}
h1{
 font-family: 'Calligraffitti', cursive;
 font-size:5.625rem;
}
header h1{
  margin-top:12.5rem;
    opacity: 0.25;
}
.sigh{
  font-size:2.5rem;
  opacity: 0.1;
}
.doctor{
  width:6.25rem;
  position: absolute;
  top:6.25rem;
  right:43.75rem;
  opacity: .5;


}
.smiley{
  width:3.75rem;
  position: absolute;
  bottom:5%;
  left:100%;

}
.heart{
  margin:auto;
}
.sad{
  width:3.125rem;
  position: absolute;
  right:100%;
}
.smile-face{
  height:3.125rem;
  width:12.5rem;
position: relative;
left:75%;
bottom:25rem;

}
.spread{
  width:12.5rem;
   filter: invert(80%);
}
.spread-love{
  position: relative;

  width:12.5rem;
  height:6.25rem;
  left:12.5rem;
  bottom:50rem;
  color:silver;
}
